.jumbotron {
    padding-top: 3rem;
    background-color: #f7971d;
  }
  
  #Projects {
    padding-top: 6rem;
    background-color: #f7971d;
  }
  
  section {
    padding-top: 4rem;
  }
  
  .gallery-img{
    width: 100%;
    height: auto;
  }
  
  #gallery .row> *{
    padding: 0;
  }